* {
	border: 0;
	margin: 0;
}

a {
	color: #F60;
	text-decoration: none;
}

a:hover{
	color: #7BBFD5;
}

body {
	background: #FFF;
	color: #212121;
	font-family: Helvetica, Verdana;
	font-size: 16px;
}

fieldset{
	border: .1em solid #F60;
	border-radius: .5em;
	padding: 1em;
}

form{

	display: none;
}

form div{
	margin: .5em;
}

input[type="checkbox"],input[type="radio"],select{
	background: #EEE;
	cursor: pointer;
}

input[type="date"],input[type="email"],input[type="number"],input[type="text"]{
	background: #EEE;
	border-radius: .25em;
	color: #000;
	font-size: 1em;
	padding: .25em;
}

input[type="date"]:focus,input[type="email"]:focus,input[type="number"]:focus,input[type="text"]:focus{
	background: #C6ECF9;
}

input[type="submit"]{

	background: #FF9A55;
	border-radius: 0 .25em;
	font-size: 1.10em;
}

input[type="submit"]:hover{
	background: #7BBFD5;
	border-radius: .25em 0;
}

input[type="file"]{
	cursor: pointer;
}

nav, #principal{
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	font-size: 1em;
	margin: .25em;
	text-align: left;
	width: 20%;
	vertical-align: top;
}

table{
	border: .1em solid #F60;
	border-radius: 1em;
	cursor: default;
	font-family: Helvetica, Verdana;
	font-size: .75em;
	padding: .25em;
	width: 100%;	

}

table img{
	max-width: 50%;
}

table td{

	border: .1em solid #212121;
	border-radius: .5em;
	word-wrap: break-word;
	text-align: center;
}

table tr{
	background: powderblue;
}

table thead tr{

	background: transparent;
}

table tr:nth-child(even){

	background: transparent;
}

ul{
	list-style: none;

}

#contenido{
	margin: 0 auto;
	text-align: center;
}

#principal{
	width: 75%;
}

.cambio{
	-ms-transition:all 0.5s ease-out;

	-moz-transition:all 0.5s ease-out;

	-o-transition:all 0.5s ease-out;

	-webkit-transition:all 0.5s ease-out;

	transition:all 0.5s ease-out;
}